mixin preloader
	.preloader
		.pulse

mixin svg(className = '', id)
	svg(class= className)
		use(xlink:href=`/assets/svg/sprite.svg#${id}`)

mixin hamburger
	a(href="#menu").hamburger.hamburger--elastic
		span.hamburger-box
			span.hamburger-inner

mixin nav(className, activeItem, mod= "")
	nav(class= className )
		+hamburger
		ul(class= className + "__list" + mod id="menu")
			each value, ndx in nav
				li(class=className+'__item' + ( (ndx == activeItem) ?  ' '+'active' : '')+ mod)
					a(href="#" class=className+"__link "+mod)= value


mixin Btn (titleText, mod = "")
	if (titleText == "Отправить")
		button(class= "btn" type="button") #{titleText}
	else
		a(href="#" class="btn " + mod) #{titleText}

mixin sectionTop(title, desc)
	.section__top
		.container
			.top__row
				if (title == "как мы работаем")
					h2.top__title #{title}
				else
					h2.top__title= title
					.top__desc
						p !{desc}
mixin ratingList(obj, mod = "")
	.container
		ul(class= "rating__list " + mod)
			each val, key in obj
				li(class="rating__item " + mod)
					a(href= val["link"] class="item__link " + mod)= key
					div(class="item__text " + mod )
						p= val["text"]

mixin sectionBottom(btnText, mod = "")
	div(class= "section__bottom " + mod id="js-btn_"+mod)
		+Btn(btnText)

mixin socials(className, mod = '')
	ul(class= className + "__list " + mod)
		each value, key in pathSocials
			li(class=className + "__items " + mod)
				a(href=value class=className + "__link " + key + ' ' + mod)

mixin contacts(className)
	ul(class=className + "__list")
		each value, key in contacts
			li(class=className + "__items " + key)= value

mixin menuNav(className, mod="")

	if (className == "option")
		each key, value in menu
			if value != "news" && value != "diploma" && value != "price" && value != "about" && value != "specialists"
				option= key.name


	else if (mod == "header-nav_footer")
		ul(class=className + "__list "+ mod)
			each key, value in menu
				if (value != "news" && value != "diploma"&& value != "price" && value!="about")
					li(class= className + "__items " + mod)
						a(href=key.path class=className + "__link "+ mod)= key.name
	else
		ul(class=className + "__list")
			each key, value in menu
				li(class= className + "__items")
					a(href=key.path class=className + "__link")= key.name



mixin debug
	.debug
		div
			div
				- for (var i = 1; i <= 12; i++)
					div
mixin stars(number)
	- for (var i = 1; i<=number; i++)
		i.fa.fa-star
mixin formHidden(email, name="site", text="Заявка с сайта")
	// hidden required fields
	input(name="project_name" type="hidden" value= name)
	input(name="admin_email" type="hidden" value= email)
	input(name="form_subject" type="hidden" value= text)
	// end hidden required fields